---
---

$font-family: 'PT Serif', Palatino, Georgia, Times, serif;
$font-size: 18px;
$title-spacing: -2px;
$margin-left: 10px;
$margin-right: 5px;
$margin-top-bottom: 15px;

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: #f8ede3;
  margin-left: $margin-left;
  margin-right: $margin-right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

#header {
  margin-bottom: $margin-top-bottom;
}

blockquote {
  border-left: 2px solid #c0c0c0;
}

blockquote p {
  margin-left: 15px;
}

#title {
  letter-spacing: $title-spacing;

  a {
    text-decoration: none;
  }
}

#tagline {
  letter-spacing: $title-spacing;
}

#postfoot {
  text-align: right;
}

.copyright {
  margin-top: $margin-top-bottom;

  a {
    text-decoration: none;
  }
}
