<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.include %}
  </head>

  <body>
    <div id="header_wrap" class="outer">
      {% include header.include %}
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% include footer.include %}
      </footer>
    </div>
  </body>
</html>
