<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.include %}
  </head>

  <body>
    <div class="container">
      <div id="header" class="row">
        {% include header.include %}
      </div>

      <div class="row">
        <section>
          <h1>{{ page.title }}</h1>
          <h6>{{ page.date | date_to_string: "ordinal", "US" }}</h6>
          <p>{{ content }}</p>
        </section>
      </div>

      <div class="row">
        <footer>
          <div id="postfoot">{% include copy.include %}</div>
        </footer>
      </div>
    </div>
    {% include footer.include %}
  </body>
</html>
